<?xml version="1.0" encoding="utf-8"?>
<packages xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <package ID="SocketIOClient" Version="3.0.8" TargetFramework="netstandard2.0" AllowedVersions="[3.0.8]" />
  <package ID="System.Text.Json" Version="8.0.1" TargetFramework="netstandard2.0" AllowedVersions="[8.0.1]" />
  <package ID="Microsoft.Bcl.AsyncInterfaces" Version="8.0.0" TargetFramework="netstandard2.1" AllowedVersions="[8.0.0, )" />
  <package ID="System.Text.Encodings.Web" Version="8.0.0" TargetFramework="netstandard2.0" AllowedVersions="[8.0.0, )" />
  <package ID="System.Runtime.CompilerServices.Unsafe" Version="6.0.2-mauipre.1.22102.15" TargetFramework="netstandard2.0" AllowedVersions="6.0.0" />
</packages>